<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="app">
        {{ title }}
        <input type="text" v-model="title">
        <p v-for="todo in todos">
            <label>{{ todo.name }}</label>&nbsp;&nbsp;&nbsp;&nbsp;<label>{{todo.password}}</label>
        </p>
        <input @input="changeMajor">
        <el-model></el-model>
        <el-div></el-div>
    </div>

</body>
<script src="js/vue.min.js"></script>
<script>
    Vue.component("el-model",{
        template: "<div><button type='button' @click='btn_func'>点我</button></div>",
        methods: {
            btn_func: function (){
                alert('hello world')
            }
        }
    })

    Vue.component('el-div',{
        template: "<div><label>{{ title }}{{ username }}</label></div>",
        data(){
            return {
                title: 'helloworld',
                username: 'ismyblue',
            }
        }
    })

    var v = new Vue({
        el: '#app',
        data:{
            title: 'hello vue',
            todos: [
                {'name': 'huanghao', 'password': 'passwd123'},
                {'name': 'huyong', 'password': '345tdfg'},
                {'name': 'hexin', 'password': 'passwd12adsf3'},
                {'name': 'liyuchun', 'password': '142561'},
            ],
        },
        methods:{
            changeMajor: ()=>{
                alert(this.event.target.value)
            }
        }
    })
</script>
</html>